<div [ngClass]="[isDarkMode ? 'box-list-dark' : 'box-list']">
  <div class="container pt-5">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <div class="d-flex flex-column ms-2">
        <label class="title-toggle"> Darkmode</label>
        <label class="toggle">
          <input type="checkbox" [(ngModel)]="isDarkMode" />
          <span class="slider"></span>
        </label>
      </div>
      <span [ngClass]="[isDarkMode ? 'box-title-dark' : 'box-title']">
        TO-DO
        <span class="title-color"> LIST </span>
      </span>
    </div>

    <div class="box-fields mt-3">
      <input
        type="text"
        class="form-control add-field me-3"
        [(ngModel)]="task"
        placeholder="Digite a sua tarefa."
        (keypress)="onKeyPress($event)"
      />

      <div class="buttons-box">
        <button class="button-add me-3" (click)="addTask()">Adicionar</button>
        <button class="button-clear" (click)="clearAllTasks()">
          Limpar Tasks
        </button>
      </div>
    </div>

    <div class="no-tasks-box mt-3" *ngIf="tasks.length <= 0">
      <span> Sem tasks criadas no momento</span>
    </div>

    <div class="mt-3" *ngIf="tasks.length > 0">
      <div class="d-flex flex-column" *ngFor="let task of tasks">
        <div class="d-flex align-items-center">
          <label class="custom-checkbox mt-1">
            <input
              type="checkbox"
              [(ngModel)]="task.completed"
              (change)="onTaskCompleted(task)"
            />
            <span class="checkbox-symbol"></span>
          </label>
          <span
            [ngClass]="[
              isDarkMode ? 'tasks-titles-dark' : 'tasks-titles',
              task.completed ? 'completed-task-title' : ''
            ]"
            class="me-1 ms-2"
          >
            {{ task.title }}
          </span>

          <img
            class="icon"
            src="assets/svgs/remove.svg"
            (click)="removeTask(task)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
