.box-list {
  height: 100vh;
  background-color: #ebebeb;

  .box-title {
    font-size: 32px;
    font-weight: 600;
    color: #474747;
  }

  .add-field {
    height: 40px;
    padding: 0px 15px;

    &:focus {
      box-shadow: none;
      border-color: #ced4da;
    }

    &:focus::-moz-placeholder {
      opacity: 1;
      color: #495057;
    }

    &:focus:-ms-input-placeholder {
      opacity: 1;
      color: #495057;
    }

    &:focus::-webkit-input-placeholder {
      opacity: 1;
      color: #495057;
    }
  }

  .tasks-titles {
    color: #474747;
    font-weight: 500;
    font-size: 18px;
  }
  .tasks-numbers {
    color: #8257e5;
    font-weight: 500;
    font-size: 26px;
  }

  .buttons-box {
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
      margin-top: 1rem;
      width: 100%;
    }

    .button-add {
      border: none;
      background-color: #8257e5;
      height: 40px;
      border-radius: 5px;
      padding: 0px 15px;
      color: white;
      font-size: 14px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .button-clear {
      border: none;
      background-color: #212529;
      height: 40px;
      border-radius: 5px;
      padding: 0px 15px;
      color: white;
      font-size: 14px;
      white-space: nowrap;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .no-tasks-box {
    border-radius: 3px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    background: #dcd2f3;
    color: #8257e5;
    padding: 20px;
    height: 20vh;
  }

  .box-fields {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .title-toggle {
    font-size: 14px;
    color: rgb(20, 20, 20);
  }
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.checkbox-symbol {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #8257e5;
  border-radius: 4px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-symbol::before {
  content: "✓";
  display: block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #8257e5;
  position: relative;
  font-weight: bold;
  top: 1px;
}

.icon {
  width: 20px;
  cursor: pointer;
  margin-top: 3px;
}

// darkmode

.box-list-dark {
  height: 100vh;
  background-color: #212529;

  .tasks-titles-dark {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
  }

  .box-title-dark {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
  }

  .button-add {
    border: none;
    background-color: #8257e5;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    color: white;
    font-size: 14px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .button-clear {
    border: none;
    background-color: #bbbbbb;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    color: #212529;
    font-size: 14px;
    white-space: nowrap;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .buttons-box {
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .box-fields {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .no-tasks-box {
    border-radius: 3px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    background: #a3a3a3e6;
    color: #000000;
    padding: 20px;
    height: 20vh;
  }

  .add-field {
    height: 40px;
    padding: 0px 15px;

    &:focus {
      box-shadow: none;
      border-color: #ced4da;
    }

    &:focus::-moz-placeholder {
      opacity: 1;
      color: #495057;
    }

    &:focus:-ms-input-placeholder {
      opacity: 1;
      color: #495057;
    }

    &:focus::-webkit-input-placeholder {
      opacity: 1;
      color: #495057;
    }
  }

  .title-toggle {
    font-size: 14px;
    color: white;
  }
}

// toggle
.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.toggle input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  transition: all 0.3s;
  background-color: #ffffffe8;
  border: 1px solid #8257e5;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: #8257e5;
  transition: all 0.3s;
}

.toggle input[type="checkbox"]:checked + .slider {
  background-color: #ffffffe8;
}

.toggle input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
.title-color {
  color: #8257e5;
}

.completed-task-title {
  text-decoration: line-through;
}

.tasks-completed-dark {
  color: white;
}
